*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
}

textarea{
    width: 100%;
    height: 180px;
    margin: 10px 0;
    padding: 10px;
}

button{
    width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#result{
    margin-top: 20px;
    background: #f6f6f6;
    padding: 15px;
    border-radius: 8px;
    
}